/* .CourseDetails {
  background: var(
    --BG,
    linear-gradient(
      245deg,
      #2d303d 0%,
      #212330 28.6%,
      #101320 65.15%,
      #111521 78%,
      #0d0f1b 100%
    )
  );
} */
.CourseDetailsIntro {
  background-image: url("../../../assets/courses/course-details/Course-details-new.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0px 0px 80px 0px;
}
.CourseDetailsHeader {
  /* padding: 50px; */
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.courseDetailsVideo {
  padding: 20px 300px;
}
.links {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.links span {
  margin-right: 5px;
}
.link {
  color: var(--Base-Base-White, #f4f5f5);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}

.link:hover {
  text-decoration: underline;
}
.heading {
  color: var(--Base-Base-White, #fcfcfc);
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
.subHeading {
  color: var(--f-3-f-4-f-7, #f3f4f7);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.18px;
  margin-top: 16px;
}
.CourseDetailsHeaderButton,
.offerText {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  padding: 10px;
}
.CourseDetailsHeaderButton button {
  padding: 14.976px 25.673px;
  margin-top: 32px;
  border-radius: 4.279px;
  background: var(--1-d-90-f-5, #1d90f5);
  color: var(--Base-Base-White, #f4f5f5);
  font-size: 17.115px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.171px;
  color: var(--Base-Base-White, #f4f5f5);
  font-size: 17.115px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.171px;
}
.CourseDetailsHeaderButtonSpan {
  color: var(--Base-Base-White, #f4f5f5);
  font-size: 17.115px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: -0.171px;
}
.offerText h6 {
  color: var(--Neutrals-Neutrals100, #e8ebed);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
.offerText span {
  color: var(--e-54500, #e54500);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
.courseDetailImage {
  position: relative;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.svgWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ratingBadge {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%) translateY(50%);
  color: white;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  width: 300px;
  height: 80px;
  flex-shrink: 0;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: #121622;
}
.rating svg {
  width: 25px;
  height: 25px;
}
.rating h4 {
  overflow: hidden;
  display: flex;
  color: var(--Base-Base-White, #f4f5f5);
  text-overflow: ellipsis;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
.rating p {
  overflow: hidden;
  color: var(--f-3-f-4-f-7, #f3f4f7);
  text-overflow: ellipsis;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
.subscribe {
  padding: 10px;
}
.subscribe p {
  color: var(--Neutrals-Base-White, #f4f5f5);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
/* accordion */
.contactAccordion {
  background-image: url("../../../assets/courses/course-details/FrequentlyAskedQuestionsbg.png");
  background-size: cover;
  background-repeat: no-repeat;
  /* background: var(
    --BG,
    linear-gradient(
      245deg,
      #2d303d 0%,
      #212330 28.6%,
      #101320 65.15%,
      #111521 78%,
      #0d0f1b 100%
    )
  ); */
  padding: 50px 150px;
}
.contactAccordion h1 {
  color: #fff;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 20px;
}
.item {
  margin: 0 0 20px 0;
}

.header {
  display: flex;
  text-align: left;
  width: 100%;
  cursor: pointer;
  font-size: 16px;
  padding: 24px;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: var(--BG-2, #222431);
  color: #fff;
}

.icon {
  margin-left: 10px;
}

.title {
  flex: 1;
  color: var(--CTA-1, #fff);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}

.content {
  padding: 20px;
  color: #fff;
  border-radius: 12px;
  background: var(--BG-2, #222431);
}
.countCard {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  /* margin-bottom: 20px; */
}
@media screen and (max-width: 435px) {
  .contactSection {
    padding: 10px;
  }
  .contactAccordion {
    padding: 30px 30px;
  }
  .courseDetailsVideo {
    padding: 0px;
  }
  .CourseDetailsHeader {
    padding: 15px;
  }
  .links {
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 5px;
    margin-top: 10px;
  }
}
