@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --Border: #7a7fa2; /* Default border color */
  --BG: linear-gradient(
    245deg,
    #2d303d 0%,
    #212330 28.6%,
    #101320 65.15%,
    #111521 78%,
    #0d0f1b 100%
  ); /* Background gradient */
}

.someClass {
  border-radius: 24px;
  border: 1px solid var(--Border);
  background: var(--BG);
}

/* Apply the Inter Tight font globally */
* {
  font-family: "Inter Tight", sans-serif;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;
}

/* styles/global.css */
body {
  min-height: 100vh;
  background: linear-gradient(
    245.33deg,
    #2d303d 0%,
    #212330 28.6%,
    #101320 65.15%,
    #111521 78%,
    #0d0f1b 100%
  );
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Arial", sans-serif;
}
.background-gradient {
  background: linear-gradient(
    245.33deg,
    #2d303d 0%,
    #212330 28.6%,
    #101320 65.15%,
    #111521 78%,
    #0d0f1b 100%
  ) !important;
}
.modal-backdrop {
  background-color: black !important;
}

.black-background .modal-content {
  background: linear-gradient(
    245.33deg,
    #2d303d 0%,
    #212330 28.6%,
    #101320 65.15%,
    #111521 78%,
    #0d0f1b 100%
  ) !important;
}
/* h1 {
  font-size: 30px !important;
} */
.bgBlack {
  background-color: #121212 !important;
}

.textfield {
  background: #2d303d;
  border: 1px solid;
  border-image-source: linear-gradient(
    257.31deg,
    #7a7fa2 -10.81%,
    #141622 113.5%
  );
  border-image-slice: 1;
  color: #fff;
  border-radius: 4px;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.textfield::placeholder {
  color: #7a7fa2;
}

.textfield:focus {
  background-color: #2d303d;
  color: #fff;
  outline: none;
}

.textfield:focus::placeholder {
  color: #7a7fa2;
}

.isInvalid {
  border-color: red;
}
.Heading {
  color: #fff;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  margin: 30px;
}
.buttonStyles {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
.buttonStyles button {
  padding: 16px 24px;
  gap: 8px;
  border-radius: 4px;
  background: #fff;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.16px;
}
.fullPageLoading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}
.shareButton {
  display: flex;
  width: 134px;
  padding: 14px 24px;
  justify-content: center;
  align-items: center;
  gap: 3px;
  border-radius: 4px;
  background: #fff;
  color: #0c0c0c;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.16px;
  margin: 0 10px;
}
@media screen and (max-width: 435px) {
  .Heading {
    color: #fff;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    margin: 25px;
  }
}

.dropdown-toggle::after {
  display: none;
}
