.container {
  margin: auto;
  padding: 20px;
  background: linear-gradient(
    245.33deg,
    #2d303d 0%,
    #212330 28.6%,
    #101320 65.15%,
    #111521 78%,
    #0d0f1b 100%
  );
}
/* Register.module.css */

.textfield {
    background: #2D303D;
    border: 1px solid;
    border-image-source: linear-gradient(257.31deg, #7A7FA2 -10.81%, #141622 113.5%);
    border-image-slice: 1;
    color: #fff;
    border-radius: 4px; /* Optional: add border radius */
    transition: background-color 0.3s ease, border-color 0.3s ease;
  }
  
  .textfield::placeholder {
    color: #7A7FA2; /* Border color for the placeholder */
  }
  
  .textfield:focus {
    background-color: #2D303D; /* Keep background same on focus */
    color: #fff; /* Keep text color white on focus */
    outline: none; /* Remove default focus outline */
  }
  
  .textfield:focus::placeholder {
    color: #7A7FA2; /* Change placeholder color to border color on focus */
  }
  
  .isInvalid {
    border-color: red;
  }
  
/* .textfield {
  border: 1px solid;
  border-image-source: linear-gradient(
    257.31deg,
    #7a7fa2 -10.81%,
    #141622 113.5%
  );
  border-image-slice: 1;
  border-radius: 4px;
  padding: 8px;
  background-color: #222;
  color: #fff;
  width: 100%;
  margin-bottom: 10px;
}

.button {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.button:hover {
  background-color: #0056b3;
} */
