.container {
  margin: auto;
  padding: 20px;
  background: linear-gradient(
    245.33deg,
    #2d303d 0%,
    #212330 28.6%,
    #101320 65.15%,
    #111521 78%,
    #0d0f1b 100%
  );
}
/* Register.module.css */
.textfield {
    background: #2D303D;
    border: 1px solid;
    border-image-source: linear-gradient(257.31deg, #7A7FA2 -10.81%, #141622 113.5%);
    border-image-slice: 1;
    color: #fff;
    border-radius: 4px; 
    transition: background-color 0.3s ease, border-color 0.3s ease;
  }
  
  .textfield::placeholder {
    color: #7A7FA2;
  }
  
  .textfield:focus {
    background-color: #2D303D; 
    color: #fff; 
    outline: none; 
  }
  
  .textfield:focus::placeholder {
    color: #7A7FA2;
  }
  
  .isInvalid {
    border-color: red;
  }
