/* ----slider---- */
.sliderContainer {
  width: 100%;
  overflow: hidden;
  padding: 30px;
  background: #0d0f1c;
}
.sliderContainer h3 {
  color: #fff;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 40px;
}
.stockCard {
  display: flex;
  padding: 10px 20px;
  margin: 15px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  border-radius: 12px;
  border: 1px solid #7a7fa2;
  background: var(--BG-2, #222431);
  backdrop-filter: blur(19.5px);
}
.cardTitle {
  overflow: hidden;
  color: #fff;
  text-overflow: ellipsis;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
}
.cardText {
  overflow: hidden;
  color: #d5d5d9;
  text-overflow: ellipsis;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.stockCard .card-body {
  color: #fff !important;
}

.slick-slide {
  padding: 0 10px;
}
.slick-list {
  margin: 0 -10px;
}

.slick-dots {
  display: none !important;
}

.slick-arrow {
  display: none !important;
}
.progressContainer {
  position: relative;
  width: 100%;
  height: 4px;
  background-color: #333;
  margin: 10px 0;
}

.progressBar {
  background-color: #007bff;
  height: 100%;
  width: 0%;
  transition: width 0.3s;
}
@media screen and (max-width: 435px) {
  .sliderContainer {
    padding: 10px;
  }
}