/* ----slider---- */
.sliderContainer {
  width: 100%;
  overflow: hidden;
  padding: 20px 10px 50px 10px; /* top, right, bottom, left */
  /* background-color: #050a18; */
  background-color: #08172c;
}
.sliderContainer h3 {
  color: #fff;
  padding: 25px;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
.stockCard {
  border-radius: 4px;
  border: 1px solid var(--gradient, #7a7fa2);
  background: #262a40;
  backdrop-filter: blur(19.5px);
  color: #fff !important;
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.cardTitle {
  font-weight: bold;
  font-size: 22px;
}
.stockCard .card-body {
  color: #fff !important;
  padding: 3px !important;
}

.slick-slide {
  padding: 0 10px;
}

.slick-list {
  margin: 0 -10px;
}

.slick-dots {
  display: none !important;
}

.slick-arrow {
  display: none !important;
}

/*  Course Offer .tsx */
.offerContainer {
  background-image: url("../../assets/homepage/What\ our\ courses\ offer-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  /* background: #050a18; */
  padding: 30px;
}
.offerContainer h1 {
  color: #fff;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
.offerCard {
  display: flex;
  padding: 12px;
  margin: 12px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  border-radius: 12px;
  border: 1px solid #7a7fa2;
  background: #0d0f1c;
  backdrop-filter: blur(19.5px);
}
.offerCard h2 {
  overflow: hidden;
  color: #fff;
  text-overflow: ellipsis;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
}
.offerCard p {
  overflow: hidden;
  color: #d5d5d9;
  text-overflow: ellipsis;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-top: 10px;
}

@media screen and (max-width: 435px) {
  .offerContainer h1 {
    font-size: 28px;
  }
}

/* Styles for the stock slider */
.widget {
  border-radius: 4px;
  border: 1px solid var(--gradient, #7a7fa2);
  backdrop-filter: blur(19.5px);
  color: #fff !important;
  background-color: #262a40 !important;
  padding: 5px 15px !important;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(19.5px);
}

.widgetHeader {
  font-size: 1rem;
  color: #fff;
  font-weight: bold;
  margin-bottom: 0.25rem;
}

.widgetValue {
  font-size: 1.125rem;
  color: #4b5270;
  font-weight: 500;
  margin-bottom: 0.25rem;
}
.percentValue {
  font-size: 13px;
  color: #4b5270;
  font-weight: 500;
  margin-bottom: 0.25rem;
}
.changeContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.positiveChange {
  color: #34d399;
  font-size: 0.875rem;
}

.negativeChange {
  color: #f87171;
  font-size: 0.875rem;
}

.iconContainer {
  width: 4rem;
  height: 2rem;
}

.positiveIcon path {
  stroke: #34d399;
  stroke-width: 2;
}

.negativeIcon path {
  stroke: #f87171;
  stroke-width: 2;
}
