.container {
  display: inline-flex;
  align-items: stretch;
  color: white;
  overflow: hidden;
  border-radius: 12px;
  /* border: 1px solid var(--Border, #7a7fa2); */
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: #121622;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0.75rem;
}

.rating {
  display: flex;
  align-items: center;
  gap: 0.375rem;
}

.ratingValue {
  overflow: hidden;
  color: var(--Base-Base-White, #f4f5f5);
  text-overflow: ellipsis;
  font-size: 31.996px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.reviews {
  overflow: hidden;
  color: var(--f-3-f-4-f-7, #f3f4f7);
  text-align: center;
  text-overflow: ellipsis;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.avatarWrapper {
  display: flex;
  gap: -0.375rem;
  margin-bottom: 0.25rem;
}

.avatarImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.studentCount {
  color: var(--Neutrals-Base-White, #f4f5f5);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
