.aboutBanner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 88px 180px;
  background-image: url("../../assets/about/About-us-banner-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.aboutContents {
  flex: 1;
  padding: 20px;
}
.aboutContents h2 {
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: 105%;
  background: linear-gradient(180deg, #fff 11.18%, #818181 227.3%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.aboutContents p {
  margin-top: 24px;
  color: var(--f-3-f-4-f-7, #f3f4f7);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 143%;
}

.imageContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageContainer img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}
.aboutStory {
  padding: 50px 120px;
  background-image: url("../../assets/about/Our-story.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  /* background: var(
    --BG,
    linear-gradient(
      245deg,
      #2d303d 0%,
      #212330 28.6%,
      #101320 65.15%,
      #111521 78%,
      #0d0f1b 100%
    )
  ); */
}
.AboutStoryContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  /* padding: 20px; */
  padding: 20px 20px 56px 20px;

}
.AboutStoryContent h1 {
  color: #fff;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
.AboutStoryContent p {
  color: var(--f-3-f-4-f-7, #f3f4f7);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.18px;
  margin-top: 20px;
}
/* -------Mission & vision ---------  */
.aboutMissionVision {
  /* background: #050a18; */
  background-image: url("../../assets/about/Mission-vision-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 88px 230px;
}
.aboutMissionVisionContent {
  padding: 40px;
  justify-content: center;
  align-items: flex-start;
  border-radius: 22px;
  border: 1px solid var(--BG, #2d303d);
  background: var(
    --BG,
    linear-gradient(
      245deg,
      #2d303d 0%,
      #212330 28.6%,
      #101320 65.15%,
      #111521 78%,
      #0d0f1b 100%
    )
  );
}
.mission {
  display: flex;
  justify-content: center;
  align-items: center;
}
.aboutMissionVisionText h1 {
  color: var(--Base-Base-White, #f4f5f5);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
.aboutMissionVisionText p {
  color: var(--f-3-f-4-f-7, #f3f4f7);
  font-size: 18px;
  margin-top: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
  letter-spacing: -0.18px;
}
/*  --------- Guide Principle -------- */
.guidePrinciple {
  padding: 50px;
  background: var(
    --BG,
    linear-gradient(
      245deg,
      #2d303d 0%,
      #212330 28.6%,
      #101320 65.15%,
      #111521 78%,
      #0d0f1b 100%
    )
  );
}
.guidePrincipleContent h1 {
  color: #fff;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 48px */
}
.guidePrincipleContent p {
  color: var(--Base-Base-White, #f4f5f5);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.2px;
}
.guideCard {
  display: flex;
  padding: 22px 24px 42px 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24.306px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: #0d0f1c;
  backdrop-filter: blur(19.5px);
}
.guideCard h2 {
  overflow: hidden;
  color: #fff;
  text-overflow: ellipsis;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px; /* 118.182% */
}
.guideCard p {
  overflow: hidden;
  color: #d5d5d9;
  text-overflow: ellipsis;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 144.444% */
}
@media screen and (max-width: 435px) {
  .aboutBanner {
    display: block;
    padding: 56px 20px;
    background: var(
      --BG,
      linear-gradient(
        245deg,
        #2d303d 0%,
        #212330 28.6%,
        #101320 65.15%,
        #111521 78%,
        #0d0f1b 100%
      )
    );
  }
  .aboutContents h2 {
    font-size: 30px;
  }
  .aboutContents p {
    font-size: 16px;
    margin-top: 8px;
  }
  .aboutStory {
    padding: 0px !important;
  }
  .aboutStoryImage {
    padding: 0px !important;
  }
  .aboutMissionVision {
    padding: 10px;
  }
  .aboutMissionVisionContent {
    padding: 56px 20px;
  }
  .aboutMissionVisionText h1 {
    font-size: 30px;
  }
  .aboutMissionVisionText p {
    font-size: 16px;
    margin-top: 10px;
  }
  .guidePrinciple {
    padding: 56px 20px;
  }
  .guidePrincipleContent h1 {
    font-size: 30px;
  }
  .guidePrincipleContent p {
    font-size: 16px;
    padding: 10px 50px;
  }
  .AboutStoryContent h1 {
    font-size: 30px;
  }
  .AboutStoryContent p {
    font-size: 16px;
    margin-top: 8px;
  }
}
