.card {
  color: #fff !important;
  overflow: hidden;
  margin: 10px;
  border-radius: 12px;
  border: 0.737px solid var(--Border, #7a7fa2);
  background: #111521;
  box-shadow: 0px 5.892px 11.784px 0px rgba(127, 127, 127, 0.1);
}
.cardImage {
  position: relative;
  cursor: pointer;
}

.cardImage img {
  width: 100%;
  height: 178px;
}

.languageBadge {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  display: inline-flex;
  padding: 10px 12px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border-radius: 4px;
  background: var(--Neutrals-Base-White, #fcfcfc);
  color: var(--Neutrals-Neutrals700, #40474f);
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 1.2px;
}

.cardContent {
  padding: 24px;
  gap: 24px;
}

.cardTitle {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  align-self: stretch;
  cursor: pointer;
}

.cardDescription {
  font-size: 1rem;
  color: #666;
}
.iconRow {
  display: flex;
  justify-content: space-between;
  margin: 24px 0;
  overflow: hidden;
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.iconText {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 8px;
}
.cardRating {
  display: inline-flex;
  align-items: center;
}
.cardRating svg {
  color: #ffa11a;
  margin-left: 5px;
  width: 12.574px;
  height: 12px;
  margin-top: -3px;
}
.priceContainer {
  display: flex;
  align-items: center; 
  gap: 5px;
}
.priceContainer h3 {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
.priceContainer s {
  color: #71717a;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  text-decoration-line: strikethrough;
  margin-left: 10px;
}

.addToCartButton {
  display: flex;
  width: 127.352px;
  padding: 10.872px 18.637px;
  justify-content: center;
  align-items: center;
  gap: 7.765px;
  flex-shrink: 0;
  border-radius: 3.106px;
  background: #fff;
  color: #0c0c0c;
  font-size: 12px;
  font-style: normal;
  margin-left: auto;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.12px;
}
.addToCartButton:hover {
  background-color: #ccc;
}
.featureCourses {
  padding: 50px;
  background: #0e121d;
}
@media screen and (max-width: 435px) {
  .coursepageMolecule{
    padding: 10px 25px;
  }
}