.card {
  width: 100%;
  margin-bottom: 25px;
  background: transparent;
  border-radius: 16px;
  border: none;
}

.left {
  display: flex;
  align-items: center;
}
.image {
  border-radius: 16px;
  cursor: pointer;
}

.right {
  padding: 24px;
  background-color: transparent;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.title {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}
.progressTitle {
  color: #d1d1d5;
  text-overflow: ellipsis;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}
.continueButton {
  display: flex;
  padding: 14px 18px;
  justify-content: center;
  align-items: center;
  gap: 7.765px;
  border-radius: 4px;
  margin-top: 30px;
  background: #fff;
  color: #0c0c0c;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.18px;
}

.progress {
  height: 8px;
  background-color: #333333;
}
.certificateInput {
  display: flex;
  height: 52px;
  padding: 12px 22px;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #7a7fa2;
  background: #222431;
  margin-top: 10px;
}
.certificateInputText {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.32px;
}
.certificateLink {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.36px;
  margin-top: 10px;
}
.certificateHeading {
  color: #fff;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  margin-bottom: 20px;
}
