.container {
  padding: 2rem;
  border-radius: 0.5rem;
}

.title {
  color: #fff;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 15px;
}
.input {
  display: flex;
  height: 51px;
  padding: 16px 22px;
  align-items: center;
  gap: 12px;
  flex-shrink: 0;
  color: #fff;
  border-radius: 6px;
  border: 1px solid var(--Border, #7a7fa2);
  background: #222431;
  margin-bottom: 15px;
}
.description {
  color: #c8c8cc;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 15px;
}

.inputContainer {
  display: flex;
  gap: 0.5rem;
}
.copyButton {
  display: flex;
  height: 44px;
  padding: 14px 18px;
  justify-content: center;
  align-items: center;
  gap: 7.765px;
  flex-shrink: 0;
  border-radius: 6px;
  background: #fff;
  color: #0c0c0c;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.16px;
}
.buttonGroup {
  display: flex;
  gap: 1rem;
}

.button {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  border-radius: 50%;
  border-color: #374151;
  background-color: var(
    --BG,
    linear-gradient(
      245deg,
      #2d303d 0%,
      #212330 28.6%,
      #101320 65.15%,
      #111521 78%,
      #0d0f1b 100%
    )
  );
}

.button:hover {
  background-color: #4b5563;
}
