.gameContent h2 {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.gameContent p {
  color: #a4a4a4;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
