.courseLevelTwo {
  padding: 40px;
}
.headingFinance {
  padding: 20px;
}
.headingFinance h3 {
  color: var(--Base-Base-White, #f4f5f5);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
}
.headingFinance p {
  overflow: hidden;
  color: #c8c8cc;
  font-feature-settings: "liga" off, "clig" off;
  text-overflow: ellipsis;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.2px;
}
.textfield {
  display: flex;
  padding: 10px 16px;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  border: 1px solid var(--Border, #7a7fa2);
  background: #121622;
  color: #fff;
}

.textfield::placeholder {
  color: #fff;
}

.textfield:focus {
  background-color: #2d303d;
  color: #fff;
  outline: none;
}

.textfield:focus::placeholder {
  color: #fff;
}

.isInvalid {
  border-color: red;
}
.sliderContainer h1 {
  color: #fff;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 20px;
}
.courseCard {
  border-radius: 12px;
  border: 1px solid var(--Border, #7a7fa2);
  background: #121622;
  display: flex;
  padding-right: 29px;
  flex-direction: row;
  align-items: center;
  gap: 28px;
  margin: 10px;
}
.imageContainer {
  flex: 0 0 40%;
  overflow: hidden;
}
.cardImage {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.cardBody {
  flex: 1 0 60%;
}
.cardBody h3 {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}
.cardBody h4 {
  overflow: hidden;
  color: #fff;
  text-overflow: ellipsis;
  font-size: 16px;
  font-weight: 700;
  line-height: 120%;
}

.cardBody span {
  overflow: hidden;
  color: var(--71717-a, #71717a);
  text-overflow: ellipsis;
  font-size: 15px;
  font-weight: 400;
  line-height: 120%;
}
.cardBody b {
  width: 5px;
  height: 12.857px;
  flex: 1 0 0;
  background: var(--Secondary-1-Secondary-1, #ffa11a);
}
.featurereviewContainer {
  overflow: hidden;
  color: #fff;
  text-overflow: ellipsis;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  gap: 10px;
}
.featurePriceContainer {
  display: flex;
  align-items: center;
  margin: 8px 0;
  gap: 15px;
}

.featurePriceContainer h3 {
  color: #fff;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.featurePriceContainer s {
  color: #71717a;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  text-decoration-line: strikethrough;
}
.featurecardContent {
  padding: 5px;
  gap: 10px;
}

/* Add to cart button */
.featureaddToCartButton {
  display: flex;
  width: 150px;
  padding: 14px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: #fff;
  color: #0c0c0c;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.16px;
}
.blogdetailsCardsFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 30px;
}

.leftIcons,
.rightIcons {
  display: flex;
  gap: 15px;
}

.leftIcons svg,
.rightIcons svg {
  width: 24px;
  height: 24px;
}
/* acccordion */
.categoriesFilter h1 {
  color: var(--Base-Base-White, #f4f5f5);
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 10px;
}
.item {
  margin: 0 0 20px 0;
}

.header {
  display: flex;
  padding: 9px 10px;
  align-items: flex-start;
  gap: 10px;
}

.icon {
  margin-left: 10px;
}

.title {
  color: #c8c8cc;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.32px;
}
.rightCards{
  border-left: 1px solid var(--Neutrals-Neutrals700, #40474F);
}
.content {
  padding: 20px 30px;
  color: #fff;
  border-radius: 12px;
  background: var(--BG-2, #222431);
}
.content ul li {
  color: #c8c8cc;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.32px;
  list-style: circle;
}
@media screen and (max-width: 435px) {
  .contactSection {
    padding: 10px;
  }
  .contactAccordion {
    padding: 30px 30px;
  }
}

@media screen and (max-width: 435px) {
  .cardBody {
    padding: 0px !important;
  }
  .cardBody h3 {
    color: #fff;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
  }
  .cardBody h4 {
    overflow: hidden;
    color: #fff;
    text-overflow: ellipsis;
    font-size: 11px;
    font-weight: 700;
    line-height: 120%;
  }

  .cardBody span {
    overflow: hidden;
    color: var(--71717-a, #71717a);
    text-overflow: ellipsis;
    font-size: 10px;
    font-weight: 400;
    line-height: 120%;
  }
  .featurePriceContainer {
    display: flex;
    align-items: center;
    margin: 30px 0;
    gap: 5px;
  }

  .featurePriceContainer h3 {
    color: #fff;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
  }

  .featurePriceContainer s {
    color: #71717a;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    text-decoration-line: strikethrough;
  }

  .featureaddToCartButton {
    display: flex;
    width: 110px;
    padding: 8px 18px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: #fff;
    color: #0c0c0c;
    font-size: 10px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.16px;
  }
}
